body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}

.background {
  width: 100%;
  height: 100vh;

  position: fixed;
}

.background div {
  width: 100%;
  height: 100%;
  position: absolute;

  opacity: 1;
  background-size: cover;
  background-position: center center;

}


/* the baground and body ends here */
.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;

  overflow-y: scroll;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.outline {
  margin-top: 40px;
  width: 30%;
  min-width: 340px;
  height: fit-content;
  
  background-color: white;
  border: 1px solid #9b9b9b;
  padding: 10px;
  border-radius: 22px;
}


/* outline ends here  */
.gamemode {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gamemode div {

  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gamemode div h3 {
  margin-right: 70%;
  font-weight: 100;
  font-family: 'barlow', sans-serif;
  font-size: 20px;
  text-wrap: nowrap;
}

.gamemode button {
  border: 1px solid #d1d1d1;
  height: 7vh;
  width: 20%;
  border-radius: 10px;
  font-size: 25px;
  font-family: 'barlow', sans-serif;
  background-color: #f1f1f1;
}

.gamemode button.selected {
  background-color: rgb(108, 196, 101);
  color: white;
}

.gamemode button:not(.selected):hover {
  background-color: #d3d3d3;
  border: 1px solid #818181;
}

/* gamemode 501 and so on ends here */

.player-system {
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.playertext {

  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.player-system div h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 78%;
  font-weight: 100;
  font-family: 'barlow', sans-serif;
  font-size: 20px;
}

.players {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  flex-direction: column;
  padding: 10px;
  height: 20%;
}

input {
  width: 90%;
  height: 4vh;
  border: 2px solid #cccccc;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  margin: 14px;
}

.input2 {
  width: 80%;
  
  margin: 10px 0;
}

.extra_players {
  display: flex;
  width: 100%;
  align-items: center;
justify-content: space-around;

}

/* player pic ends here */

.x-container {

  width: 40px;
  height: 100%;
  position: relative;

}

.x {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 20px;
  cursor: pointer;
}

.x::before,
.x::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 1px;
  /* Adjust thickness */
  background-color: rgb(0, 0, 0);
  transform-origin: center;
  transition: background-color .8s ease;
}

.x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Red circle with white X upon hover */
.x:hover .x::before,
.x:hover .x::after {
  background-color: white;

}

.x:hover::before,
.x:hover::after {
  background-color: white;

}

.x:hover::before {
  content: '';
  width: 65%;
  height: 2px;
}

.x:hover::after {
  width: 65%;
  height: 2px;
  font-size: 20px;
}

.x:hover {
  border-radius: 50%;
  /* Turn into a circle */
  background-color: rgb(201, 69, 69);
  /* Red background */
  width: 50px;
  /* Adjust width */
  height: 50px;
  /* Adjust height */
  transform: translate(-50%, -50%);
  /* Center */
  transition: background-color .8s ease;
}

.x-container:hover .x::before,
.x-container:hover .x::after {
  transition: background-color 0.3s ease;
  /* Smooth transition for background-color */
}

/* x sign ends here */

.plus-sign {
  width: 20px;
  height: 20px;
  position: relative;
}

.plus-sign::before,
.plus-sign::after {
  content: '';
  position: absolute;
  background-color: grey;
}

.plus-sign::before {
  width: 100%;
  height: 6px;
  top: 50%;
  left: 0;
  margin-top: -3px;
  /* half of the height to center vertically */
}

.plus-sign::after {
  width: 6px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -3px;
  /* half of the width to center horizontally */
}


.addplayer-continer {
  width: 80%;

}

.addplayer {

  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'barlow', sans-serif;
  font-size: 20px;
}

.addplayer:hover .plus-sign::after,
.addplayer:hover .plus-sign::before {
  /* when hovered it makes the plus sign green */
  background-color: rgb(108, 196, 101);
}

.addplayer:hover a {
  color: rgb(108, 196, 101);
}

.addplayer a {

  margin-left: 10px;
  color: rgb(109, 109, 109);
}

/* addplayeer buttion ends here */
.start-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #818181;
  margin-top: 30px;
  margin-bottom: 15px;

}

.start-container button {
  cursor: pointer;
  height: 60px;
  width: 70%;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid #acacac;
  font-family: 'barlow', sans-serif;
  background-color: rgb(108, 196, 101);
  color: white;
  font-weight: 600;
  transition: transform 0.12s ease, scale 0.12s ease-in;
  /* Added scale transition */
}

.start-container button:active {
  transform: translateY(2px) scale(0.95);
  /* Adjusted transform */
}
/* 
THE SECOND PAGE THE SCORING PAGE STARTS HERE ITS ALL BELOW  */
.container{
  opacity: 0;
  width: 80%;
  height: 80%;
  z-index: 100;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.playeroutline{
  background-color: white;
  width: 25vw;
  height: 35%;
  min-height: 80px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #727272;
  min-width: 200px;
}

.playername{

  width: fit-content;
  min-width: 100px;
  border-radius: 20px;
  padding: 5px 2vw;
  font-size: 2.5vh;
  border: 1px solid #727272;
}


.playername h2{
  font-family: 'barlow', sans-serif;
  font-weight: 300;
  
  margin: 0;
}
.score{
  font-size: 8vh;
  
  align-items: center;
  display: flex;
  height: 75%;
  justify-content: end;

}
.score h1{
  margin: 0;
  font-family: 'barlow', sans-serif;
  font-weight: 500;
  margin-right: 15%;
}

.ribonicontainer{
  position: fixed;
  opacity: 0;
  bottom: 0;
  height: 20%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  
}
.riboni{
  width: 39%;
  height: 12vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.scoreinput{
  width: 20%;
  border-radius: 50px;
  background-color: #ececec45;
  font-size: 42px;
}

.addscore{
  background-color: rgb(108, 196, 101);
  border-radius: 10px;
  width: 25%;
  height: 8vh;
  border: 2px solid #ababab;
  font-size: 25px;
  color: white;
}